{% extends 'base.html.twig' %}

{% block title %}Mon Espace{% endblock %}

{% block body %}
<!-- Configuration du script Java Script-->
<div id="app-config"
    data-url-region-data="{{ path('app_region_data') }}"
    data-url-region-new="{{ path('app_region_new') }}"
    data-url-region-edit="{{ path('app_region_edit', {'id': '__ID__'}) }}"
    data-url-region-delete="{{ path('app_region_delete', {'id': '__ID__'}) }}"
    data-url-region-dependances="{{ path('app_region_dependances', {'id': '__ID__'}) }}"

    data-url-departement-data="{{ path('app_departement_data') }}"
    data-url-departement-new="{{ path('app_departement_new') }}"
    data-url-departement-edit="{{ path('app_departement_edit', {'id': '__ID__'}) }}"
    data-url-departement-delete="{{ path('app_departement_delete', {'id': '__ID__'}) }}"
    data-url-departement-dependances="{{ path('app_departement_dependances', {'id': '__ID__'}) }}"

    data-url-ville-data="{{ path('app_ville_data') }}"
    data-url-ville-new="{{ path('app_ville_new') }}"
    data-url-ville-edit="{{ path('app_ville_edit', {'id': '__ID__'}) }}"
    data-url-ville-delete="{{ path('app_ville_delete', {'id': '__ID__'}) }}"
></div>


<div class="container mt-4">
    
    {# ===== BOUTON NOUVELLE CARTE POSTALE ===== #}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Mon Espace</h1>
        <a href="#" class="btn btn-vintage">
            <i class="bi bi-plus-lg"></i> Nouvelle carte postale
        </a>
    </div>

    {# ===== ONGLETS ===== #}
    <ul class="nav nav-tabs mb-3" id="monEspaceTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="regions-tab" data-bs-toggle="tab" 
                    data-bs-target="#regions" type="button">
                Régions
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="departements-tab" data-bs-toggle="tab" 
                    data-bs-target="#departements" type="button">
                Départements
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="villes-tab" data-bs-toggle="tab" 
                    data-bs-target="#villes" type="button">
                Villes
            </button>
        </li>
    </ul>

    {# ===== CONTENU ONGLETS ===== #}
    <div class="tab-content" id="monEspaceTabContent">

        {# RÉGIONS #}
        <div class="tab-pane fade show active" id="regions" role="tabpanel">
            
            <table class="table table-hover" id="tableRegions">
                <thead>
                    <tr><th>Code</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        {# DÉPARTEMENTS #}
        <div class="tab-pane fade" id="departements" role="tabpanel">
            <table class="table table-hover" id="tableDepartements">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Région</th>
                        <th>Logo</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        {# VILLES #}
        <div class="tab-pane fade" id="villes" role="tabpanel">
            <table class="table table-hover" id="tableVilles">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Code postale</th>
                        <th>Département</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

<!-- ------------------------------------------------------- -->
<!-- ----------------- modale créer Région ----------------- -->
<!-- ------------------------------------------------------- -->
{% include 'components/_modal_form.html.twig' with {
    modal_id: 'modalNouvelleRegion',
    modal_title: 'Nouvelle région',
    form: form_region
} %}

<!-- ---------------------------------------------------------- -->
<!-- ---------------- modale créer Département ---------------- -->
<!-- ---------------------------------------------------------- -->
{% include 'components/_modal_form.html.twig' with {
    modal_id: 'modalNouveauDepartement',
    modal_title: 'Nouveau Département',
    form: form_departement,
    with_crop: true
} %}

<!-- ------------------------------------------------------ -->
<!-- ----------------- modale créer Ville ----------------- -->
<!-- ------------------------------------------------------ -->
{% include 'components/_modal_form.html.twig' with {
    modal_id: 'modalNouvelleVille',
    modal_title: 'Nouvelle Ville',
    form: form_ville
} %}

<!-- ------------------------------------------------------ -->
<!-- --------------- modale Modifier Région --------------- -->
<!-- ------------------------------------------------------ -->
{% include 'components/_edit_form.html.twig' with { 
    form: form_region_edit, 
    modal_id: 'modalEditerRegion', 
    modal_title: 'Modifier une région' 
} %}

<!-- ------------------------------------------------------ -->
<!-- ------------- modale Modifier Département ------------ -->
<!-- ------------------------------------------------------ -->
{% include 'components/_edit_form.html.twig' with { 
    form: form_departement_edit, 
    modal_id: 'modalEditerDepartement', 
    modal_title: 'Modifier un département',
    with_crop: true,
    entity_logo_nom: null
} %}

<!-- ------------------------------------------------------ -->
<!-- --------------- modale Modifier Ville --------------- -->
<!-- ------------------------------------------------------ -->
{% include 'components/_edit_form.html.twig' with { 
    form: form_ville_edit, 
    modal_id: 'modalEditerVille', 
    modal_title: 'Modifier une ville' 
} %}

<!-- ------------------------------------------------------ -->
<!-- ----------- modale Confimation Supression  ----------- -->
<!-- ------------------------------------------------------ -->
{% include 'components/_modal_delete.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mon_espace') }}
{% endblock %}
